<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">
    <h1>Review index</h1>
<div th:each="review : ${reviewList}">
    <p th:text="${review.date}"></p>
    <p th:text="${review.rating}"></p>
    <p th:text="${review.comment}"></p>
    <p th:text="${review.sweets.name}"></p>
</div>

</div>
<style layout:fragment="style"></style>
<script layout:fragment="script"></script>
</body>
</html>