<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">
    <div class="common-container">
<div>
    <h1 th:text="${sweets.name}"></h1>
    <div class="d-flex">
        <p th:text="${sweets.calorie}"></p><p>kcal</p>
    </div>
    <p th:text="${sweets.comment}"></p>
</div>
    <h5>レビュー</h5>
    <div th:each="review : ${sweets.reviews}">
        <p th:text="${review.date}"></p>
        <p th:text="${review.rating}"></p>
        <p th:text="${review.comment}"></p>
    </div>
<h5>レビューを追加🧡</h5>
    <form method="post" th:action="@{/review/create}" th:object="${reviewModel}">
        <input type="hidden" th:value="${sweets.sweetsId}" name="sweets">
        <div class="mb-3">
            <label>評価</label>
            <input type="text" name="rating" class="form-control">
        </div>
        <div clasS="mb-3">
            <label>コメント</label>
            <textarea name="comment" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-info">レビューを追加</button>
    </form>
    </div>
</div>
<style layout:fragment="style"></style>
<script layout:fragment="script"></script>
</body>
</html>